body {
    background-color: #0f172a;
    color: white;
    font-family: 'Segoe UI', sans-serif;
    display: flex;
    justify-content: center;
    margin: 0;
}

.back-btn {
    position: absolute; top: 20px; left: 20px;
    background-color: #334155; color: white; border: none;
    padding: 10px 15px; border-radius: 8px; cursor: pointer;
    font-weight: bold;
}

#game-container {
    margin-top: 80px;
    width: 90%;
    max-width: 500px;
    text-align: center;
}

#display-card {
    background: #1e293b;
    padding: 40px 20px;
    border-radius: 15px;
    border: 3px solid #eab308; /* Electric Yellow */
    margin-bottom: 20px;
    box-shadow: 0 0 15px rgba(234, 179, 8, 0.3);
}

#sentence-display {
    font-size: 1.5rem;
    font-weight: bold;
}

#sentence-display span {
    color: #eab308;
    text-decoration: underline;
}

#choice-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.choice-btn {
    background-color: #334155;
    color: white;
    border: 2px solid #38bdf8;
    padding: 15px;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
}

.choice-btn:hover {
    background-color: #38bdf8;
    color: #0f172a;
}

.score-box { color: #eab308; font-weight: bold; font-size: 1.2rem; margin-bottom: 10px; }