body { background: #0f172a; color: white; font-family: 'Black Ops One', system-ui; display: flex; justify-content: center; align-items: center; height: 100vh; margin: 0; overflow: hidden; }

#speed-container { text-align: center; width: 400px; }

#timer-bar { width: 100%; height: 10px; background: #334155; border-radius: 5px; margin-bottom: 30px; }
#timer-fill { width: 100%; height: 100%; background: #ef4444; transition: width 0.1s linear; }

#word-display { height: 150px; display: flex; justify-content: center; align-items: center; background: #1e293b; border-radius: 20px; border: 4px solid #38bdf8; margin-bottom: 20px; box-shadow: 0 0 20px rgba(56, 189, 248, 0.3); }

#current-word { font-size: 2.5rem; text-transform: uppercase; letter-spacing: 2px; }

#action-zone { display: flex; gap: 20px; }
button { flex: 1; padding: 20px; border: none; border-radius: 10px; font-weight: bold; cursor: pointer; font-size: 1.2rem; transition: 0.1s; }

.neg-btn { background: #991b1b; color: white; border-bottom: 5px solid #7f1d1d; }
.pos-btn { background: #166534; color: white; border-bottom: 5px solid #14532d; }
button:active { transform: translateY(4px); border-bottom-width: 0; }