body {
    background-color: #050505;
    color: #00ff41; /* Terminal Green */
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    margin: 0;
}

.back-btn {
    position: absolute; top: 20px; left: 20px;
    background: #111; color: #00ff41; border: 1px solid #00ff41;
    padding: 10px; cursor: pointer;
}

#lab-container {
    margin-top: 80px;
    width: 500px;
    text-align: center;
    background: #111;
    padding: 40px;
    border: 2px solid #00ff41;
    box-shadow: 0 0 20px #00ff4133;
}

.formula-row { font-size: 1.8rem; margin-bottom: 30px; }
#subject-node { color: #fff; text-decoration: underline; }

#user-input {
    background: transparent;
    border: none;
    border-bottom: 2px solid #00ff41;
    color: #fff;
    font-size: 2rem;
    text-align: center;
    width: 100%;
    outline: none;
    font-family: inherit;
}

#accent-bar { margin: 20px 0; }
#accent-bar button {
    background: #222; color: #fff; border: 1px solid #444;
    padding: 10px 15px; margin: 0 5px; cursor: pointer;
}

#feedback { height: 20px; font-size: 0.9rem; margin-bottom: 20px; }
.stats { font-size: 1.1rem; }